apps/backend/apps/peppol/schemas/ubl-Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
           xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
           xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
           xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
           elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>
            UBL 2.1 Invoice Schema - Complete version for LedgerSG
            Matches XML generated by XMLGeneratorService
        </xs:documentation>
    </xs:annotation>

    <!-- Import UBL common components -->
    <xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
               schemaLocation="common/CCTS_CCT_SchemaModule-2.1.xsd"/>
    <xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
               schemaLocation="common/UBL-CommonAggregateComponents-2.1.xsd"/>

    <!-- Root element -->
    <xs:element name="Invoice" type="InvoiceType"/>

    <!-- Main Invoice type -->
    <xs:complexType name="InvoiceType">
        <xs:sequence>
            <!-- Document header -->
            <xs:element ref="cbc:UBLVersionID" minOccurs="0"/>
            <xs:element ref="cbc:CustomizationID" minOccurs="0"/>
            <xs:element ref="cbc:ProfileID" minOccurs="0"/>
            <xs:element ref="cbc:ID"/>
            <xs:element ref="cbc:IssueDate"/>
            <xs:element ref="cbc:DueDate" minOccurs="0"/>
            <xs:element ref="cbc:InvoiceTypeCode" minOccurs="0"/>
            <xs:element ref="cbc:DocumentCurrencyCode" minOccurs="0"/>
            <xs:element ref="cbc:TaxCurrencyCode" minOccurs="0"/>

            <!-- Parties -->
            <xs:element ref="cac:AccountingSupplierParty" minOccurs="0"/>
            <xs:element ref="cac:AccountingCustomerParty" minOccurs="0"/>

            <!-- Payment terms -->
            <xs:element ref="cac:PaymentTerms" minOccurs="0" maxOccurs="unbounded"/>

            <!-- Tax total -->
            <xs:element ref="cac:TaxTotal" minOccurs="0"/>

            <!-- Monetary total -->
            <xs:element ref="cac:LegalMonetaryTotal" minOccurs="0"/>

            <!-- Invoice lines -->
            <xs:element ref="cac:InvoiceLine" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Simple element definitions for cbc namespace -->
    <xs:element name="UBLVersionID" type="xs:string"/>
    <xs:element name="CustomizationID" type="xs:string"/>
    <xs:element name="ProfileID" type="xs:string"/>
    <xs:element name="ID" type="xs:string"/>
    <xs:element name="IssueDate" type="xs:date"/>
    <xs:element name="DueDate" type="xs:date"/>
    <xs:element name="InvoiceTypeCode" type="xs:string"/>
    <xs:element name="DocumentCurrencyCode" type="xs:string"/>
    <xs:element name="TaxCurrencyCode" type="xs:string"/>
    <xs:element name="Name" type="xs:string"/>
    <xs:element name="RegistrationName" type="xs:string"/>
    <xs:element name="CompanyID" type="xs:string"/>
    <xs:element name="StreetName" type="xs:string"/>
    <xs:element name="AdditionalStreetName" type="xs:string"/>
    <xs:element name="CityName" type="xs:string"/>
    <xs:element name="PostalZone" type="xs:string"/>
    <xs:element name="IdentificationCode" type="xs:string"/>
    <xs:element name="PaymentDueDate" type="xs:date"/>
    <xs:element name="TaxAmount" type="xs:decimal"/>
    <xs:element name="TaxableAmount" type="xs:decimal"/>
    <xs:element name="Percent" type="xs:decimal"/>
    <xs:element name="LineExtensionAmount" type="xs:decimal"/>
    <xs:element name="TaxExclusiveAmount" type="xs:decimal"/>
    <xs:element name="TaxInclusiveAmount" type="xs:decimal"/>
    <xs:element name="PayableAmount" type="xs:decimal"/>
    <xs:element name="PrepaidAmount" type="xs:decimal"/>
    <xs:element name="InvoicedQuantity" type="xs:decimal"/>
    <xs:element name="PriceAmount" type="xs:decimal"/>
    <xs:element name="Description" type="xs:string"/>

    <!-- Party related types -->
    <xs:element name="AccountingSupplierParty" type="SupplierPartyType"/>
    <xs:element name="AccountingCustomerParty" type="CustomerPartyType"/>

    <xs:complexType name="SupplierPartyType">
        <xs:sequence>
            <xs:element ref="cac:Party" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CustomerPartyType">
        <xs:sequence>
            <xs:element ref="cac:Party" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Party" type="PartyType"/>

    <xs:complexType name="PartyType">
        <xs:sequence>
            <xs:element ref="cac:PartyName" minOccurs="0"/>
            <xs:element ref="cac:PartyLegalEntity" minOccurs="0"/>
            <xs:element ref="cac:PostalAddress" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="PartyName" type="PartyNameType"/>

    <xs:complexType name="PartyNameType">
        <xs:sequence>
            <xs:element ref="cbc:Name"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="PartyLegalEntity" type="PartyLegalEntityType"/>

    <xs:complexType name="PartyLegalEntityType">
        <xs:sequence>
            <xs:element ref="cbc:RegistrationName" minOccurs="0"/>
            <xs:element ref="cbc:CompanyID" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="PostalAddress" type="AddressType"/>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element ref="cbc:StreetName" minOccurs="0"/>
            <xs:element ref="cbc:AdditionalStreetName" minOccurs="0"/>
            <xs:element ref="cbc:CityName" minOccurs="0"/>
            <xs:element ref="cbc:PostalZone" minOccurs="0"/>
            <xs:element ref="cac:Country" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Country" type="CountryType"/>

    <xs:complexType name="CountryType">
        <xs:sequence>
            <xs:element ref="cbc:IdentificationCode" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Payment terms -->
    <xs:element name="PaymentTerms" type="PaymentTermsType"/>

    <xs:complexType name="PaymentTermsType">
        <xs:sequence>
            <xs:element ref="cbc:PaymentDueDate" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Tax total -->
    <xs:element name="TaxTotal" type="TaxTotalType"/>

    <xs:complexType name="TaxTotalType">
        <xs:sequence>
            <xs:element ref="cbc:TaxAmount" minOccurs="0"/>
            <xs:element ref="cac:TaxSubtotal" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="TaxSubtotal" type="TaxSubtotalType"/>

    <xs:complexType name="TaxSubtotalType">
        <xs:sequence>
            <xs:element ref="cbc:TaxableAmount" minOccurs="0"/>
            <xs:element ref="cbc:TaxAmount" minOccurs="0"/>
            <xs:element ref="cac:TaxCategory" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="TaxCategory" type="TaxCategoryType"/>

    <xs:complexType name="TaxCategoryType">
        <xs:sequence>
            <xs:element ref="cbc:ID" minOccurs="0"/>
            <xs:element ref="cbc:Percent" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Monetary total -->
    <xs:element name="LegalMonetaryTotal" type="MonetaryTotalType"/>

    <xs:complexType name="MonetaryTotalType">
        <xs:sequence>
            <xs:element ref="cbc:LineExtensionAmount" minOccurs="0"/>
            <xs:element ref="cbc:TaxExclusiveAmount" minOccurs="0"/>
            <xs:element ref="cbc:TaxInclusiveAmount" minOccurs="0"/>
            <xs:element ref="cbc:PayableAmount" minOccurs="0"/>
            <xs:element ref="cbc:PrepaidAmount" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Invoice line -->
    <xs:element name="InvoiceLine" type="InvoiceLineType"/>

    <xs:complexType name="InvoiceLineType">
        <xs:sequence>
            <xs:element ref="cbc:ID" minOccurs="0"/>
            <xs:element ref="cbc:InvoicedQuantity" minOccurs="0"/>
            <xs:element ref="cbc:LineExtensionAmount" minOccurs="0"/>
            <xs:element ref="cac:Item" minOccurs="0"/>
            <xs:element ref="cac:Price" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Item" type="ItemType"/>

    <xs:complexType name="ItemType">
        <xs:sequence>
            <xs:element ref="cbc:Description" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Price" type="PriceType"/>

    <xs:complexType name="PriceType">
        <xs:sequence>
            <xs:element ref="cbc:PriceAmount" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
